<!DOCTYPE html>
<html lang="id">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Utama</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Selamat datang di Snap-Match</h1>
    
    <!-- Tombol Level -->
    <a href="{{ url_for('level') }}"><button>Level</button></a>
    
    <!-- Tombol Petunjuk Permainan -->
    <a href="{{ url_for('instructions') }}"><button>Petunjuk Permainan</button></a>
    
    <!-- Tombol Papan Skor -->
    <a href="{{ url_for('scoreboard') }}"><button>Papan Skor</button></a>
    
    <!-- Tombol Keluar -->
    <a href="{{ url_for('goodbye') }}"><button id="exitButton">Keluar</button></a>
  </div>
</body>
</html>
