<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pilih Level</title>
</head>
<body>
    <div class="container">
        <h1>Pilih Tingkat Kesulitan</h1>
        <a href="/game/easy" class="btn">easy</a>
        <a href="/game/medium" class="btn">medium</a>
        <a href="/game/hard" class="btn">hard</a>
    </div>
</body>
</html>
